<ActionBar title="Appointments" backgroundColor="white" color="#266fd9">
    <StackLayout orientation="horizontal" horizontalAlignment="center">
        <!-- <Label text="OC" class="action-label" fontSize="20px" color="orange" paddingRight="5" ></Label> -->
        <Label text="Appointments" class="action-label" fontSize="20px" color="#266fd9"></Label>
    </StackLayout>
</ActionBar>

<StackLayout>
    <ng-template *ngIf="contacts$">
        <Label text="TEST" verticalAlignment="center" padding="0 10 0 0"></Label>
    </ng-template>
    <StackLayout orientation="horizontal" padding="16" verticalAlignment="center">
        <Label text="Select Court:" verticalAlignment="center" padding="0 10 0 0"></Label>
        <DropDown class="appointment-dropdown" itemsTextAlignment="center" [items]="this.courtItemSource"
            [(ngModel)]="selectedCourtIndex" (selectedIndexChanged)="onCourtChange($event)" itemsPadding="5"
            width="100%">
        </DropDown>
    </StackLayout>
    <StackLayout orientation="horizontal" padding="16" verticalAlignment="center">
        <Label text="Select Judge:" verticalAlignment="center" padding="0 10 0 0"></Label>
        <DropDown class="appointment-dropdown" itemsTextAlignment="center" [items]="this.contactItemSource"
            [(ngModel)]="selectedContactIndex" (selectedIndexChanged)="onContactChange($event)" itemsPadding="5"
            width="100%">
        </DropDown>
    </StackLayout>
    <DatePickerField [(ngModel)]="selectedDate" class="appointment-date" hint="Select Date"></DatePickerField>
    <TimePickerField [(ngModel)]="selectedTime" class="appointment-time" hint="Select Time"></TimePickerField>
    <Button text="Create Appointment" (tap)="onSave()" padding="10" borderRadius="10"></Button>
    <ListView height="100%" separatorColor="transparent" [items]="appointments$ | async" row="0">
        <ng-template let-item="item">
            <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
            <GridLayout height="100%" rows="*, auto, auto" columns="*" class="bg-secondary" borderRadius="10"
                margin="5 10" padding="0">
                <label row="0" margin="10 10 0 10" fontWeight="700" class="text-primary" fontSize="18"
                    [text]="item.court.courtName"></label>
                <label row="1" margin="0 10 10 10" class="text-secondary" fontSize="14"
                    [text]="item.judge.name"></label>
                <label row="2" margin="0 10 10 10" class="text-secondary" fontSize="14"
                    [text]="this.getFormattedDate(item.date) + ', ' + this.getFormattedTime(item.time)"></label>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>
