<!-- <BottomNavigationBar class="bottom-nav" activeColor="white" inactiveColor="#ebebeb" backgroundColor="#266fd9" -->
<BottomNavigationBar class="bottom-nav" activeColor="#266fd9" inactiveColor="gray" backgroundColor="white"
(tabSelected)="onBottomNavigationTabSelected($event)" row="1">
<BottomNavigationTab title="Home" icon="res://home" ></BottomNavigationTab>
<BottomNavigationTab title="Self Help" icon="res://help" ></BottomNavigationTab>
<BottomNavigationTab title="Civil" icon="res://gavel" ></BottomNavigationTab>
<BottomNavigationTab title="Appointments" icon="res://cal" ></BottomNavigationTab>
<BottomNavigationTab title="Profile" icon="res://profile"></BottomNavigationTab>
</BottomNavigationBar>
